/*올라오는 애니메이션*/
#ApplePro,#hello
{animation-duration:2s;
animation-name:load; 
animation-delay:1.5s;
animation-fill-mode:forwards;
opacity:0; 
height:100%;
position:relative;}

@keyframes load {
	from {opacity:0; transform:translateY(15%);}
	to {opacity:1; transform:translateY(0%);}}

/*애니메이션이 끝난 비디오맥북을 숨기는 애니메이션*/
#MacBookPro {
animation-delay:4s;
animation-duration:2s;
animation-name:bmac;
animation-fill-mode:forwards;}

@keyframes bmac {
	from {opacity:1;}
	to {opacity:0;}}

/*#MacBookPro {
animation-delay:5s;
animation-duration:2s;
animation-name:macbook;
animation-fill-mode:forwards;}

@keyframes macbook {
	from {opacity:1;}
	to {opacity:0;}}
*/

.w980{width:90%;}

/*text gradient*/
.clip {
	background-clip:text; 
	-webkit-background-clip:text;
	color: transparent; 
	background-size:cover;}

/*큰 영역별 공통 CSS*/
body {
	background-color:#121217; 
	color:white;}




p {word-break:keep-all; 
	margin:29px 0px; 
	font-size:131.25%; 
	font-weight:600; 
	letter-spacing:0.011em;
	display: block;
   margin-block-start:1em;
   margin-block-end:1em;
   margin-inline-start:0px;
   margin-inline-end:0px;}


	#notice {border:none;}
	#AT {border-bottom:rgba(66,66,69,0.95) solid 1px;}
	#CP {
	font-size:0.5em;
	border-top:#424245 1px solid;}



/*약관 전문 a*/
.fullgo {
	vertical-align:top;
	line-height:33px; 
	color:#6D7A71; 
	text-align:center; 
	font-weight:600;}

/*Heading*/
h1 {display:flex;
	font-size:100%; 
	text-align:left;
	opacity:0.92;
	-webkit-box-orient: vertical;
    -webkit-box-direction: reverse;}


h2 {
	font-size:200%;
	color:white; 
	text-align:center;  
	line-height:110%; 
	font-weight: 600;
	margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;    
    text-align:center;
	line-height: 1.14286;}

h3 {color:#aee1cd;
	font-weight:600; 
	letter-spacing: 0.012em; 
	vertical-align:middle; 
    line-height: 1.31579;}

h2,h3 {font-size:64px;}

h4,h4>span {
	opacity: 0.890666;
	color:#d1cdda;
	text-align:center; 
	vertical-align:middle;
	line-height:1.5em; 
	letter-spacing: 0em;
	font-size:48px;}



ul,li,ol {
	padding:0px; 
	word-break:keep-all; 
	text-align:left; 
	font-size:21px; 
	font-weight:600; 
	list-style:none;}
.fullist {margin:1em auto;}
.fullist ul {margin:0.1em auto; padding:0px;}
.fullist li,.fullist dl,.kr{
	margin:0.3em auto; 
	padding:0px; 
	list-style-position:outside; 
	word-break: keep-all; 
	font-size:19px;
	text-align:left;}
dl * {text-align:left; vertical-align:middle;}
dl svg {margin:-1em auto;}

#hello {color:#6D7A71; text-align:center; 
	font-weight:600; font-size:21px;}




#help strong,#helpM strong {color:#EBEBE3; font-weight:900; display:block;}
#help a,#helpM a {width:12em;}
#help span,#helpM span{
color:#EBEBE3; 
font-size:14px; 
text-align:left; 
font-weight:400;
margin-top:0.4em;
display:inline-block;}

#helpbox,#helpboxM {
	padding:0px; 
	background-color:#222; 
	background-clip:unset; 
	width:100%;}

#help {
	margin:2em auto; 
	padding:2em;}
#bighelp {
	width:80%; 
	display:flex;}
.goask { 
	font-size:14px; 
	color:#2997ff;}


.master {
	background-color:white; 
	color:black; 
	font-weight:900; 
	display:inline-flex;}



#AUC {font-size:21px; 
	text-align:center; 
	color:#63636e; 
	margin-bottom:0.15em; 
	line-height: 1.19048; 
	font-weight: 600; 
	letter-spacing: .011em;}
/*https://www.apple.com/v/iphone-xs/d/images/overview/copy_texture_3_large.jpg*/

.kr {color:#fab;}

#notch {width:100%;}
.walert {
	padding:0.7em;
	border-radius:1em;
	color:black; 
	background-color:#ffffffaa; 
	box-sizing:border-box; 
	position:relative; 
	width:100%;
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);}
#inP0, #inPC2 {position:relative;}
#inPC2 {
	width:100%; 
	top:0px;}

#inP {
	width:83%;
	top:27%;
	left:50%; 
	transform:translateX(-50%);
	color:black; 
	position:absolute; 
	height:0em;}
#full {text-align:left;}






#appleseries {
	width:100%; 
	position:relative;
	margin-top:-10%;}
#memoticon {
	width:80%;
	box-shadow: 0em 0em 3em 3em rgb(33,33,33); 
	margin:7em auto;}

#MPC {padding:0px; margin:0px;}
	#FPC {text-align:center;}

	#inPC {position:relative;}
	#inPC p {line-height: 1.52947; font-size:1.1em;}
	.fullT {color:white; margin:auto;}
	#fullhi {margin:0.5em auto;}

#apple12 {width:100%; margin:3em 0em;}

ul,.lalist {margin-bottom:0px; padding-bottom:1em;}




/*약관 전문-닉네임 dd Apple Logo*/
#raina1 {fill:#fcc;}
#raina2 {fill:#fda;}
#raina3 {fill:#ffa;}
#raina4 {fill:#dfa;}
#raina5 {fill:#abf;}
#raina7 {fill:#baf;}


#MBP {
	height:100%;
	margin-bottom:-15%;
	position:relative;
	overflow-x:hidden;}
#MacS {
	width:125%;
	position:relative; 
	left:-12.5%;}

#MacBookPro {
	margin-bottom:-32.7%;
	width:90%;
	position:relative;
	z-index:100;
	-webkit-mask-size:contain;
	-webkit-mask-position:center;
    -webkit-mask-repeat:no-repeat;
    /*-webkit-mask-image: url(https://www.apple.com/v/macbook-pro-13/b/images/overview/hero/hardware_mask__dcw1sijc23wy_large.png);*/}

/*16:10 Display*/
	@media (device-aspect-ratio:16/10) and screen (min-width:1200px;) {
	#MacBookPro {
		width:60%;
		margin-bottom:-21.6%;}
		#MacS {
			width:84%;
			left:0px;}
	#MBP {margin-bottom:-5%;}
	.w980 {width:52%;}
		#appleseries {margin-top:-23%;}}


/*PC 16:9 landscape display*/
	/*@media  (min-width:1100px) {*/
@media (device-aspect-ratio:16/9) and screen (min-width:1200px;){
		#MacBookPro {
			width:60%;
			margin-bottom:-21.6%;}
		#MacS {
			width:84%;
			left:0px;}
		#MBP {margin-bottom:0%;}
		.w980 {width:52%;}
		#appleseries {margin-top:-25%;}}


/*iPad*/
	@media screen and (min-width:760px) and (max-width:1200px) {
	.w980{box-sizing:border-box;}
	#AUC,#ApplePro {font-weight:600;}
	#AUC {
		line-height: 1.16667;
		font-size:24px;
		letter-spacing: .009em;}
	.made {display:block;}
	#a11ymark {font-size:2em;}
	h2,h3 {
		line-height:1.5em; 
		letter-spacing: 0em;
		font-size:48px;}}


/*SmartPhone*/
	@media screen and (max-width:760px) {
	/*@media (device-aspect-ratio:9/16) {*/
	.w980 {
		box-sizing:border-box; 
		width:85%; 
		font-size:19px;}

	#MBP {
		width:100%; 
		margin-bottom:-7%;}
	#AUC {font-size:21px;}
	#MacBookPro {margin-bottom:-32.7%;}
	#MacS {
		width:125%;
		left:-12.5%;}
	h2,h3 {
		font-size:40px;
		line-height:110%;}
	h4,h4>span {font-size:32px; font-weight:700;}
	#helpboxM {margin-bottom:2em;}
	#helpM {padding:2em;}
	#full {font-size:21px;}
	.walert {
		border-radius:0.8em; 
		padding:0.4em 0.5em; 
		line-height:130%; 
		font-size:90%;}
	.made {display:block;}
	#LOGO {
		width:18px; 
		background-size:18px 48px;
		background-position:center center;
		line-height:2.82353em; 
		height:48px;}
	#memoticon {width:80%;}
	.wsmall {display:block;}
	.wbig {display:none;}}

/* iPhone X */
	@media screen and (min-width:370px) and (max-width:380px) {
	.walert {font-size:90%;}}



/*iPhone SE*/
	@media screen and (max-width:320px) {
	li,.fullist li {font-size:17px;}
	
	#SE11 {padding:0px;
	margin-top:3em;}

	h1 {
		position:relative; 
		left:0px; 
		color:#1d1d1f;
		opacity:1;}
	#SE11 video {margin-bottom:100%;}
	body {background-color:white;}
	#i11 {
		margin-left:7%;
		width:70%;
		font-size:40px;
		font-weight:700;
		line-height:1.2em;
		text-align:left;}
	#full {font-size:1.2em;}
	.walert {
	padding:0.3em 0.5em;
	line-height:1.2em; 
	font-size:0.9em;}
	h1 span,h2 span,#i11 {
	font-weight:900; 
	line-height:1.2em; 
	font-size: 40px;}
	#helpM span{color:#1d1d1f;}
	#helpM,footer {
	background-clip:unset; 
	font-size:17px;}
	#helpboxM {margin-bottom:2em;}
	#helpboxM,footer {
	background-color:#f2f2f2; 
	padding:70px 0px;}
	#helpM strong {
	color:#1d1d1f; 
	font-weight:900;}
	.goask {color:#06c;}
	
	#hello {text-align:left;}
	#SEST {font-size:17px; 
		color:#6D7A71; 
		position:relative;
		display:inline-block; 
		font-weight:600; 
		top:-3px;}
		.kr {color:#029d50;}

#raina1 {fill:#e00;}
#raina2 {fill:#f70;}
#raina3 {fill:#fc0;}
#raina4 {fill:#0c5;}
#raina5 {fill:#69f;}
#raina7 {fill:#87f;}

.wbig {display:none;}}



/*iPhone SE landscape*/
	@media screen and (min-width:560px) and (max-width:580px) {
	li,.fullist li {font-size:17px;}
	
	#SE11 {padding:0px;
	margin-top:3em;}

	h1 {
		position:relative; 
		left:0px; 
		color:#1d1d1f;
		opacity:1;}
	#SE11 video {margin-bottom:100%;}
	body {background-color:white;}
	#i11 {
		margin-left:7%;
		width:70%;
		font-size:40px;
		font-weight:700;
		line-height:1.2em;
		text-align:left;}
	#full {font-size:1.2em;}
	#inP {top:30%;}
	.walert {
	padding:0.5em 0.7em;
	line-height:1.2em; 
	font-size:1.5em;}
	h1 span,h2 span,#i11 {
	font-weight:900; 
	line-height:1.2em; 
	font-size: 40px;}
	#helpM span{color:#1d1d1f;}
	#helpM,footer {
	background-clip:unset; 
	font-size:17px;}
	#helpboxM {margin-bottom:2em;}
	#helpboxM,footer {
	background-color:#f2f2f2; 
	padding:70px 0px;}
	#helpM strong {
	color:#1d1d1f; 
	font-weight:900;}
	.goask {color:#06c;}
	
	#hello {text-align:left;}
	#SEST {font-size:17px; 
		color:#6D7A71; 
		position:relative;
		display:inline-block; 
		font-weight:600; 
		top:-3px;}
		.kr {color:#029d50;}

#raina1 {fill:#e00;}
#raina2 {fill:#f70;}
#raina3 {fill:#fc0;}
#raina4 {fill:#0c5;}
#raina5 {fill:#69f;}
#raina7 {fill:#87f;}

.wbig {display:none;}}


