@charset "UTF-8";

/*움직이는 요소를 대체할 요소에 class부여*/
.stopA {display:none;}


/*애니메이션 저감 설정 감지 시*/
@media (prefers-reduced-motion:reduce) {
	#MacPro{
		animation:none;
		opacity:1; 
		transform:translateY(0%);}
	video {display:none;}
	.stopA{display:unset;}
}


/*큰 영역별 공통 CSS*/

main, #MinP, #airfull, #Mlist a {
	letter-spacing:3px;
	line-height:1.5;}
	
main {padding-top: 34px;}

.covid19 {
	text-align:center;
	margin:auto 0px;
	font-size:12px;
	line-height:1.4;
	padding:16px;
}

#MPB {
	position:relative;
	z-index:0;
	background-color:#f2f2f2;}

#MacProarea {
	background: linear-gradient(#f2f2f2aa, #f2f2f200;);
	position:relative;
	top: calc(66px + 8vh - 48px);
	min-height: 450px;
    max-height: 550px;
	width: calc(100% - 60px);
	animation:MacProscale 1s 2s forwards;
	opacity:0;
	transform:scale(1.08);}

@keyframes MacProscale {
	from {transform:scale(1.08);
		 }
	to {transform:scale(1);
		}
}

#MacProarea {
	animation:Macopacity 0.2s ease-in 1.2s forwards;
	opacity:0;}

#hello, .clipsb {
	animation:Macopacity 0.5s 1s ease-in forwards;
	opacity:0;}

@keyframes Macopacity{
	0% {opacity:0;}
	70% {opacity:0.8;}
	100% {opacity:1;}
}
#MacProarea>span {
    will-change: opacity, transform;
	-webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
	background-attachment:fixed;
	z-index:-100;
	position:sticky;
	font-weight:600;
	display:block;
	margin:auto;
	text-align:center;
	font-size: 64px;
	color:#111;
	letter-spacing:-5px;
	line-height: 1.17188;
	animation:MPT ease-in 3s, 3s cubic-bezier(0.165, 0.84, 0.44, 1) 1s forwards;
	}

@keyframes MPT {
	from {opacity:0;

		 }
	to {opacity:0.99;

		}
}

#MacProarea img {
	position:relative; 
	top:-3px;
	z-index:0;
}



#controller {
	text-align:center;
}
#controller .goask:after{
	display:flex;
	align-items:center;
	justify-content:center;
	margin-left:0.3rem;
}
#controller[aria-expanded="false"] .goask:after {
	content:">";
}

#controller[aria-expanded="true"] .goask:after {
	content:" ∧";
}

p {
	font-size: 21px;
    line-height: 1.38105;
    font-weight: 400;
    letter-spacing: .011em;
}


	#CP {font-size:12px;}



/*약관 전문 a*/
.fullgo {
	color:#6D7A71;
	vertical-align:middle;
	line-height:33px; 
	text-align:center; 
	font-weight:600;
	letter-spacing:3px;
}

/*Heading*/
h1 {display:flex;
	font-size:100%; 
	text-align:left;
	opacity:0.92;
	-webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
}


h2,h3 {
	font-size:48px;
	text-align:center;  
	line-height:1.1; 
	font-weight: 600;
	letter-spacing:-5px;
    text-align:center;
}


h2,h3 {font-size:64px;}

h4,h4>span {
	text-align:center; 
	vertical-align:middle;
	line-height:1.5em; 
	letter-spacing: 0em;
	font-size:48px;
}





li {margin-top:1rem; 
	margin-bottom:1rem;
	text-align:left;
	font-weight: 600;
	font-size:24px;
	letter-spacing:3px;
	list-style:none;}
li ul {
	margin:0.1rem auto; 
	padding:0px;
}
li li,li dl,.kr{
	margin:0.3rem auto; 
	padding:0px; 
	list-style-position:outside; 
	word-break: keep-all; 
	font-size:24px;
	text-align:left;
}

dl * {
	text-align:left; 
	vertical-align:middle;}
dl svg {margin:-1rem auto;}

#hello,#hello div {
	margin-top:16px;
	color:#6D7A71; 
	text-align:center; 
	font-weight:600; 
	font-size:24px;
	padding-bottom:2rem;
}

.helpM {
	box-sizing:content-box;
	position:relative;
	z-index:1;
	flex-basis: 100%;
	-webkit-box-flex: 1;
    flex: 1 25%;
    max-width: 410px;
}

	.helpM svg {
		width:100%; 
		height:56px;
		background-size:100% 56px;
		background-repeat:no-repeat;
	}
.nofoot {background-color:#f2f2f2;}
.helpM strong {
	font-weight:900; 
	display:block;
}

.helpM span {
	vertical-align:bottom;
	font-size:14px; 
	text-align:left; 
	font-weight:400;
	display:inline-block;
}

#helm {
	background-color:#f2f2f2;
	position:relative;}
.helpboxM {
	padding:0px; 
	width:100%; height:100%;
}


.goask { 
	font-style:unset;
	font-size:14px; 
	justify-content:center;
	font-weight:400;
	margin-top:0.4rem;
	display:flex;
}

.helpq {
	font-size:1em;
	margin-top: 0.4em;
	box-sizing: content-box;}

#callapple {
	vertical-align:bottom;
}

.master {
	border-color:#17171d;
	border-style:solid;
	border-width:0px 10px;
	background-color:#17171d; 
	color:white; 
	font-weight:900; 
	display:inline-flex;
}



#AUC {font-size: 21px;
    line-height: 1.19048;
    font-weight: 600;
    margin-bottom: 0.15em;
    letter-spacing: .011em;
    color: #63636e;
    display:block;
}

.kr {color:#d40;}

#notch {
	width:100%;
	position:relative;
}
#notch:before {
	content:'';
	background-position:center;
	display:block;
	top:0px; left:0px;
	position:absolute;
	background-size:100% 100%;
	z-index:30;
	background-image:url(https://www.apple.com/v/iphone-11/c/images/overview/hero/hero_pf_phone__cvre2iya2qeu_medium.png); 
}
.walert {
	padding:0.7rem;
	border-radius:1rem;
	color:black; 
	background-color:#ffffffaa; 
	box-sizing:border-box; 
	position:relative; 
	width:100%;
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
}


#inP0, #inPC2 {position:relative;}
#inP0 {padding:10% 0px;}
#inPC2 {width:100%; }
#inP {
	width:82%;
	top:30%;
	left:50%; 
	transform:translateX(-50%);
	color:black; 
	position:absolute; 
	height:0em;
}

#full {text-align:left;
	letter-spacing:0px;}


#MPC {padding-top:118px;}
#FPC {text-align:center;}

#inPC {
	font-weight:600;
	position:relative;
	padding-bottom:20%;
	padding-top:5%;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center bottom;
	background-image:url(https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/barclay-financing-201701?wid=1667&hei=622&fmt=png-alpha&.v=1537912047343);
}
	#inPC p {
		line-height: 1.52947; 
		font-size:1.1em;}
	.fullT {margin:auto; font-weight:600;}
	#fullhi {margin:0.5em auto;}

#apple12 {
	width:100%; 
	margin:3em 0em;}

ul,.lalist {
	margin-bottom:0px; 
	padding-bottom:1em;}




/*약관 전문-닉네임 dd Apple Logo*/
	#raina1 {fill:#fcc;}
	#raina2 {fill:#fda;}
	#raina3 {fill:#ffa;}
	#raina4 {fill:#dfa;}
	#raina5 {fill:#abf;}
	#raina7 {fill:#baf;}


#all {
	position:relative; 
	z-index:4;
	}

#Mlist {
	padding: 17px 0 11px;}
#Mlist ul {
	place-content:center;
	display:flex;
	margin:0px auto;
	flex-wrap:wrap;
	}
#Mlist h4 {background-image:none;}
#Mlist li {width:100%;
	margin:10px;}
#Mlist a {
	z-index:100;
	position:relative;
	border-radius:1.5rem;
	width:100%;
	height:100%;
	font-weight:900;
	font-size:1.4rem;
	padding:2rem 0.5rem;
	text-align:center;
	align-items:center;
	box-sizing:border-box;
}

#Mlist a:before{
	content: ''; 
	position:absolute;
	top:3px; left:2px;
	background-repeat:no-repeat;
	background-size:contain;
	background-position:top center;
	width:3rem; height:3rem;
	display:flex;
}

#Mlist span {vertical-align:top;}
#Mlist p {display:none;}

#RM4{
	color:white;
	background:
	linear-gradient(170deg, rgba(170,170,200,0.1) 0%,rgba(85,85,100,0.1) 40%,rgba(0,0,20,0.1) 41%,rgba(50,50,80,0.1) 100%),
	url(https://www.apple.com/v/apple-events/home/h/images/overview/past-events/march-2019/hero_image__dcnw5e2nomye_large.jpg);
	background-size:100%;
	background-repeat:no-repeat;
	background-position: bottom center;
	border:solid #acf 3px;
}
#RM4:before{background-image:url(img/appleX.png);}


#SMM{
	color:#321;
/*background: linear-gradient(165deg, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%);}*/
/*background-image:url(https://cdn.imgbin.com/24/15/24/imgbin-gold-background-LG9acL6xEbmd0uC6D9v9y3VxY.jpg);*/
background:url(https://i.pinimg.com/originals/8f/21/96/8f219642c11fa57f38f2355988fb24d0.jpg),linear-gradient(135deg, rgba(255,216,119,1) 0%,rgba(255,247,223,1) 100%);
background-size:100% 100%;
border:solid gold 3px;}
#SMM:before {
filter:contrast(200%) hue-rotate(-20deg) saturate(120%);
background-image:
url(https://www.nicepng.com/png/full/15-155485_apple-logo-icon-apple-logo-gold-png.png);}


#OMU{
	/*background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(204,238,221,1) 50%,rgba(187,238,204,1) 100%);*/
	background-image:
	/*url(https://www.pixelstalk.net/wp-content/uploads/2016/08/Mint-Green-Photos-Download-620x388.jpg);*/
	url(img/mintback.jpg),linear-gradient(to bottom, rgba(187,238,221,1) 0%,rgba(221,255,238,1) 100%);
	background-attachment:fixed;
	background-size:50%;
	color:#022;
	filter:saturate(120%);
	border:solid #7B9 3px;
}

#OMU:before {
	z-index:5;
	background-size:120%;
	background-image:url(img/FruitApple.png);
}

#OMU:after {
	content:'';
	background-size:100% 120%;
	position:absolute;
	width:100%; height:100%;
	top:0px; left:0px;
	display:block;
	background-image:url(img/Muleaf.png);
	border-radius:1.3rem;
}


#Myuna{
	color:#def;
		/*background: -webkit-linear-gradient(top, rgba(210,204,255,1) 0%, rgba(110,71,238,1) 49%, rgba(100,68,238,1) 50%, rgba(60,0,170,1) 51%, rgba(70,17,221,1) 100%);*/
	/*background-image:linear-gradient(to left,rgba(100, 0, 255, 0.1), rgba(150, 50, 255, 0.2), rgba(100, 0, 255, 0.1)),
	url(http://www.pptback.com/uploads/borders-frames-blue-gold-frame-backgrounds-powerpoint.jpg);
	*/
	background-image:url(https://www.apple.com/v/imac-pro/e/images/overview/screen_endframe_large.jpg),radial-gradient(ellipse at center, rgba(0,143,238,1) 12%,rgba(0,70,136,1) 52%,rgba(0,24,68,1) 77%);;
	border:solid #001 3px;
	filter: saturate(120%) hue-rotate(37deg);
	/*background:rgba(100, 0, 255, 0.1), 
	url(http://www.pptback.com/uploads/borders-frames-blue-gold-frame-backgrounds-powerpoint.jpg);
	*/background-size:95% 95%;
	text-shadow: #000 0 0 0.5rem, #000 2px 2px 2px;
}

	#Myuna:before{
	background-image:url(img/Purple.png);
	background-size:140%;
	filter:saturate(1) hue-rotate(-30deg);
}

#Mcchi {
	filter:saturate(1.5);
	background-image:url(img/Msky.png),linear-gradient(to bottom, rgba(0,119,255,1) 1%,rgba(0,136,255,1) 20%,rgba(0,153,255,1) 40%,rgba(0,170,255,1) 61%,rgba(85,170,255,1) 80%,rgba(85,176,11,1) 85%,rgba(51,153,0,1) 100%);
	background-size:cover;
	background-position:bottom;
	color:#520;
	border:solid #57f 3px;
}


#Mcchi:before {background-image:url(img/OSXApple.png);}
#Mcchi:after {
	background-size:100% 30%;
	background-position:center bottom;
	background-repeat:no-repeat;
	content:'';
	position:absolute;
	bottom:0px; left:0px;
	background-image:url(img/Mgrass.png);
	width:100%; height:100%;
	display:block;}

#CSJ{
	filter: saturate(120%);
	background-image:url(https://media.istockphoto.com/vectors/orange-seamless-pattern-orange-citrus-fruit-vector-illustration-vector-id531480528),linear-gradient(135deg, rgba(254,204,177,1) 0%,rgba(241,116,50,1) 40%,rgba(234,85,7,1) 60%,rgba(251,149,94,1) 100%);
	background-size:30%;
	color:#630;
	background-attachment:fixed;
	border:orange 3px solid;
}

#CSJ:before {
	background-size:120%;
	background-image:url(img/GoldenApple.png);
}

#CSJ span {
		position:relative;
		z-index:-1;
		border-radius:10px;
		box-shadow: 0px -15px 5px 1vmax #FF9900aa;
		background-color:#F90;}

#CSA {
	/*background-image:url(https://i.pinimg.com/originals/0d/ee/48/0dee4818267c2183793f7505d06a3b47.jpg);
	/*background-image: url(https://data.ac-illust.com/data/thumbnails/ab/ab9a45d052331b7c813cedc7f3245bf5_t.jpeg);*/
	background-image:url(img/sakura1.png),radial-gradient(ellipse at center, rgba(255,255,255,1) 43%,rgba(255,233,251,1) 60%,rgba(255,233,251,1) 60%,rgba(255,127,195,1) 100%);
	background-size:100% 100%;
	/*filter:hue-rotate(180deg) invert(100%);*/
	background-position:top;
	color:#512;
	border:pink 3px solid;
}

#CSA:before {background-image:url(img/pinkapple.png);}

#HHC {
	color:white;
	filter:hue-rotate(0deg);
	text-shadow: #000 0 0 0.5rem, #000 2px 2px 2px;
	background-image:url(https://images.assetsdelivery.com/compings_v2/intara1/intara11904/intara1190400012.jpg),linear-gradient(to bottom, rgba(255,0,0,1) 0%,rgba(255,119,0,1) 20%,rgba(255,255,0,1) 40%,rgba(0,255,170,1) 60%,rgba(0,153,255,1) 80%,rgba(119,0,255,1) 100%);
	background-size:10%;
	background-attachment:fixed;
	border:solid 3px black;
}

#HHC:before {background-image:url(img/ManyColorApple.png); }

#IWJ {
	box-shadow:inset -10px -10px 0px 0px #629EDC;
	border-style:solid; 
	border-width:3px 10px 10px 3px;
	border-color:#395FA9;
	color:#FFF;
	background:#333;
	/*linear-gradient(170deg, rgba(170,170,200,0.8) 0%,rgba(85,85,100,0.8) 40%,rgba(0,0,20,0.8) 41%,rgba(50,50,80,0.8) 100%);*/
}
#IWJ:before {
	background-image:url(img/OSXApple.png);
	filter:saturate(2) hue-rotate(1deg);}

#Neko {
	box-shadow:inset 0px 0px 1vmax 2px #5aF;	
	color:black;
	background-size:30%;
	filter: saturate(100%);
	background:url(img/Msky.png);}
#Neko:before {background-image:url(img/GGlassApple.png);}

/*DeskTop View*/
@media screen and (min-width:1200px) {
	main.wrap, #minP, #airfull {width:75%;}
	main {padding-top:72px;}
	#MPB {height:100vh;
		width: calc(100% - 160px);
		min-height: 1000px;
    	max-height: 1440px;}

	#MacProarea>span {
		font-size:180px;
		top: calc(44px + 80px + 8vh);}
	#MacProarea{
		width:1148px;
		top: calc(66px + 8vh - 44px);}
	li,li li,li dl,#hello div {font-size: 40px;}
	#Mlist li {
		display:inline-flex; 
		width:40%;}
	#Mlist a {width:50%; margin:0px;}
	#Mlist li:nth-child(odd) a {transform:translateX(100%);}
	#Mlist li:nth-child(even) a {transform:translateX(-0%);}
	#OMU {background-size:12%;}
	#CSJ {background-size:7%;}
	#AUC {font-size: 28px;
    	line-height: 1.14286;
   	 	font-weight: 600;
    	letter-spacing: .007em;
    }



	.helpboxM {
		justify-content:center;
		display:flex;
		flex-direction:row;
		padding-top:56px;
		width:calc(50% / 2);
	}
	.helmb {display:flex;}
	#MacS {
		width: 1422px;
    position: relative;
    left:0px;
    display: flex;
    margin-top: 104px;}
}


/*16:10 MacBook Display*/
@media screen and (min-width:1000px) and (min-aspect-ratio:16/10), (aspect-ratio:10/16) {
	}

/*PC 16:9 landscape display*/
@media screen and (min-width:1000px) and (aspect-ratio:16/9), (aspect-ratio:9/16) {
		}


/*iPad*/
@media screen and (min-width:770px) and(max-width:1100px) {
	main {padding-top: 54px;}
	li,li li,li dl {font-size: 32px;}
	#AUC,#ApplePro {font-weight:600;}
	#AUC {
		font-size: 24px;
   		line-height: 1.16667;
    	font-weight: 600;
    	letter-spacing: .009em;	
    }

	h2,h3 {
		line-height:1.5em; 
		letter-spacing: 0em;
		font-size:48px;
	}
	.helpM {flex-basis: 50%;}
		.helpboxM {
		justify-content:center;
		display:flex;
		flex-direction:row;
		padding-top:56px;
		width:calc(50% / 2);
	}
	.helmb {display:flex;}

}


/*SmartPhone*/
@media screen and (max-width:760px) {
	#MacProarea {
		width: calc(100% - 60px);
		width:284px;}
	main {padding-top: 34px;}
	li,li li,li dl {font-size: 24px;}
	#AUC {font-size:21px;}
	h2,h3 {
		font-size:40px;
		line-height:1;}
	h4,h4>span {
		font-size:40px; 
		font-weight:700;
		line-height:1.1;}

	#full {font-size:19px;}
	.walert {
		margin:0.5rem auto;
		border-radius:0.8rem; 
		padding:0.4rem 0.5rem; 
		line-height:1.3rem; 
		font-size:90%;}
	.made {display:block;}
	#LOGO {
		width:18px; 
		background-size:18px 48px;
		background-position:center center;
		line-height:2.82353em; 
		height:48px;}
.wsmall {display:block;}
	.wbig {display:none;}
	#Mlist a {padding:2rem 0.5rem;}
	#hello {text-align:left;}
	.helpboxM {
	    width:216px;
	}
	.helpM {padding-top:36px;}
	.helmb {display:unset;}
}
/* iPhone X,S10 */
@media screen and (min-width:360px) and (max-width:380px) {
	#inP {top:32%;}
}