@charset "UTF-8";
:lang(ko) {word-break: keep-all; line-break:normal;}
:lang(ja) {word-wrap:break-word; word-break:break-all;}
::selection {background:#76f; color:white;}
img,video {width:100%;}
body {background-image:url(img/grassB.png);
	background-repeat:repeat;
	background-size:20%;
	background-position: center center;
	margin:0px auto;}
header {z-index:9999;
	position:sticky;
	display:flex;
	justify-content:center;
/*	position:sticky;
	top:0px;
	left:0px;
*/	z-index:9999;}
nav {width:90%;
	padding:0% 5%;
}
.NH {width:3rem;}
section {background-color:rgba(255,255,255,0.5);}
a {text-decoration:none;
	color:black;}
table {border-collapse:collapse;
	margin:5% auto;}
th,td {padding:5%;
	box-sizing:border-box;
	border:1px solid black;}
td {background-color:white;}
th {background-color:#fe7;}
ul,ol,dl {margin:0px;
	padding:0px;
	list-style:none;}
li,dt,dd {padding:0.1rem 0px;
	margin:0px;}
li dl {padding-top:0.5rem;}
li li,li dt,li dd {padding:0.1rem 0.5rem;}
.w980 {width:60%; 
	margin:0px auto;
	padding:5%;
	box-sizing:border-box;}
.XM {transform:scaleX(-1);}
nav h1 {display:flex;
	align-items:center;
	justify-content:center;}
#Hospital dt,#Hospital dd {
	display:inline-flex;
	padding:0px;}


@media screen and (max-width:1000px) {
	body {background-size:60%;}
	.w980 {width:90%;}
}

@media (prefers-color-scheme:dark) {
section {background-color:rgba(0,0,0,0.5);}
body,a {color:white;}
td {background-color:#420;}
th {background-color:#240;}
}