@charset "UTF-16";
:lang(ko) {word-break: keep-all; line-break:normal;}
:lang(ja) {word-wrap:break-word; word-break:break-all;}
::selection {background:#76f; color:white;}


ul,li,ol {margin:0px; padding:0px; list-style:none;}
li {margin:1% auto;}
input {
	vertical-align:middle;
	position:relative;
	-webkit-appearance:none;
	-o-appearance:none;
	-moz-appearance:none;
	appearance:none;

}
input[type="radio"] {
	width:2rem; height:2rem;
	border-radius:20%;
	border:solid 2px #76f;
	background-color:white;
	color:black;
}

input[type="radio"]::before {
	content:"";
	opacity:0;
	display:block;
	transform:translateY(25%) translateX(25%) scale(0); 
	border-radius:20%;
	z-index:3;
	height:1.2rem; width:1.2rem;
	background-color:#315;}

input[type="radio"]:checked::before {
	transform:translateY(25%) translateX(25%) scale(1); 
	transition:0.3s;
	opacity:0.9;}

input[type="radio"]:checked+label {
	font-weight:900;
	outline:#76f solid 2px;
}




@media (prefers-reduced-motion:reduce) {
	*{transition:none;}}
@media (prefers-color-scheme:dark) {
	/** {transition:background-color 1s,color 1s;}*/
	body {background-color:#103;}
	label {color:white;}
	input[type="radio"] {
		background-color:#a9f;
	}

}