@charset "UTF-16";
:lang(ko) {word-break: keep-all; line-break:normal;}
:lang(ja) {word-wrap:break-word; word-break:break-all;}
::selection {background:#76f; color:white;}
input[type="radio"] {
	vertical-align:middle;
	position:relative;
	width:2rem; height:2rem;
	border-radius:20%;
	-webkit-appearance:none;
	appearance:none;
	border:solid 2px #77f;
	background-color:white;
	color:black;
}

input[type="radio"]::before {
	opacity:0;
	content:"";
	display:block;
	justify-content:center;
	transform:translateY(25%) translateX(25%); 
	border-radius:20%;
	z-index:3;
	background-image:url(purplestar.jpg);
	height:1.2rem; width:1.2rem;}

input[type="radio"]:checked::before {
	opacity:1;
	transition:0.3s;}
input[type="radio"]:checked+label {
	font-weight:900;
	outline:#76f solid 2px;
}