@charset "UTF-8";
:lang(ko) {word-break: 
	keep-all; 
	line-break:normal; 
	font-size:1.1rem;
	font-family:HY견고딕;}

::selection {background:#51b; color:white;}

body {margin:0px; padding:0px;}
main {
	box-sizing:border-box;
	width:60%; 
	margin:0px auto;}

br {display:none;}
ul {padding:0px;
	list-style:none;
	margin:0px;
}

div>table {margin:0px;}

#unamer {border:red solid;}
input {border:slateblue 1px solid;}
input {
	font-size:1rem;
	border-width:2px;}

input:focus {background-color:#ffd;}
input:focus+label {}

button {min-width:2vmax;
		padding:1vmin 2vmin;}

button:focus {outline-offset:2px; 
	outline:solid 3px #87f;
	z-index:2;}

.okrb {border:1px solid darkblue; 
	font-size:3vmin; 
	padding:1vmax 2vmax;}

.okbb {background-color:darkblue;
	color:white;}
.nobb {background-color:white;
	color:darkblue;}
.yesbd,.nobd {border-radius:15px;
	color:white; 
}
.yesbd {border:red 1px solid; 
	background-color:#f50; 
}

.nobd {
	border:blue 1px solid; 
	background-color:#05f; 
}

.yesbd2,.nobd2 {
	border-radius:10%;
}
.yesbd2 {
	color:darkred;
	border:darkred 1px solid;
	background-color:#fa5;
}
.nobd2 {
	color:darkblue; 
	border:darkblue 1px solid;
	background-color:#5af;
}
.minib {font-size:0.5vmin; 
	padding:1vmin 0.7vmax;
	border:none; 
	color:white; 
	background-color:#0a0;}

.okb {font-size:2vmax; 
	border:none; 
	padding:1vmin 1vmax;
	color:white; 
	background-color:#070; 
	font-weight:900;}

.nprice {
	text-align:left;
	font-weight:700; 
	font-size:1rem; 
	color:#777;}
.DEAL {
	text-align:left;
	font-weight:900; 
	font-size:1.2rem; 
	color:#d30;}
	
.KWCAG5 {
	width:20vmax;
	text-align:center; 
	border:solid gray 1px; 
	padding:2vmin 1vmin;}
table,caption {
	background-color:#eef;
	padding:1vmax;}
table,div {
	margin:1vmax 0px;}
.red {color:red;}
th,td {
	text-align:left;
	}

#star {text-align:right;}

#lili {margin:1vmax 0px;}
#lili li,#mlili li {
	margin:0px; 
	font-size:2vmin;}

#mlili li {margin-top:-0.5vmax;}

.maru {border-radius: 100%; 
	min-width:3vmax;
	min-height:3vmax;}
.shikaku {border-radius: 0%; 
	min-width:3vmax;
	min-height:3vmax;}

.iconBOX {position:relative;
	background-color:#eef;
	padding:1vmax;}
.iconT, .iconT2 {
	background-color:white;
	border-collapse:collapse;}
.iconT thead, .iconT2 thead {
	background-color:#cfb;}
.iconT td,.iconT th {
	border:1px solid black;
	padding:1vmax 1.5vmax;}
.iconT2 td,.iconT2 th {
	border:1px solid black;}
.iconT2 th{
	padding:1vmax;}
.iconT2 td{
	text-align:center;
	padding:2vmax 2.5vmax;}

.iconT2 span{
	font-size:1rem;}

.sunD {color:#d30;}
.satD {color:#54f;}
.iconlistBOX {position:absolute; top:10%; right:25%;}1
.iconBOX dd,.iconBOX dt {margin:0px; display:inline-flex;}
.icon {
	display:block;
	text-align:center;
	font-weight:900;
}
i {display:block;}

@media screen and (max-width:760px) {
	main {width:95%; overflow-x:hidden; position:relative;}
	main>* {width:100% !important;}
}