@charset "UTF-8";
:lang(ko) {word-break: keep-all; line-break:normal;}
:lang(ja) {word-wrap:break-word; word-break:break-all;}
::selection {background:#afc; color:white;}
img,video {width:100%;}
body * {
	-webkit-font-smoothing: antialiased;
	box-sizing:border-box;
		font-family:"SF Pro KR","SF Pro Display","SF Pro Icons","Apple Gothic","HY 돋움","맑은 고딕","HY 고딕","Lexi Gulim","Helvetica Neue","Helvetica","Arial","sans-serif";}
h1,h2,h3 {font-weight:900;}
a {
	font-size:100%;
	text-decoration:none;
	align-items:center;
	display:inline-flex;
	vertical-align:top;
	color:white;
}
.w90 {width:95%; margin:auto;}

ol,ul,dl {margin:0px; padding:0px;}
dl+dl {margin:0.5em 0px;}
ol,ul,dl,li {list-style:none;}
dd,dt {margin:0px; font-weight:400;}
header {
	position:sticky;
	top:0px;
	z-index:40;
	width:100%;
	height:3em;
	margin:0px;
	padding-bottom:0px;}
nav {margin:0px; 
	padding:0px;
	height:100%;
	width:100%;
	vertical-align:middle; }
#pagetitle {
	text-align:center;
	display:inline-block;
	margin:0px;
	padding:0px;
	overflow:hidden;
	width:70%;
	height:100%;}

.navi {
	color:white;
	height:100%;
	align-items:center;
	display:flex;
}
#pagetitle a {
	background-color:#222425;
	width:100%;
	padding-left:5%;
}
#gochat {
	font-weight:bold;
	font-size:14px;
	top:0px;
	text-align:center;
	position:absolute;
	right:0px;
	background-color:#0074c2;
	width:30%;
	justify-content:center;
}
body {
	height:100%;
	background-color:#113;; 
	color:white;
	margin:0px auto;}
main {
	margin:auto auto;
	margin-bottom:2em;}
#HELLO {
	position:relative;
	text-align:center;
	margin-bottom:5em; 
	box-shadow:0px 0px 2em 3em #222425;
	background-color:black;}
#ITtitle {
	background: linear-gradient(to bottom, #000 , #222425 );
	width:100%;
	height:100%;
	padding:1em 0px;

	}



#HELLO span {
	font-size:2em; 
	font-weight:700;
	letter-spacing:0px;}


#ITtitle *,#staff {
animation-duration:2s;
animation-name:load; 
animation-delay:1s;
animation-fill-mode:forwards;
opacity:0; 
position:relative;}

@keyframes load {
	0% {opacity:0; top:1em;}
	60% {top:-1em;}
	100% {opacity:1; top:0em;}}



#FOLD {
	position:relative;
	animation-name:fold;
	animation-delay:1s;
	animation-duration:2s;
	animation-fill-mode:forwards;
	overflow:hidden;
	width:200%;
	height:30%;
	text-align:center;
	margin-left:-50%;
	top:-5em;
	opacity:0;}

@keyframes fold {
	0% {width:200%; 
		height:30%; 
		margin-left:-50%;
		top:-5em;
		opacity:0;}
	60% {width:70%; 
		height:50%;}
	100% {width:100%; 
		height:100%; 
		margin-left:0%;
		top:0em;
		opacity:1;}}



#staff {
	width:10em;
	background: -webkit-linear-gradient(top, rgba(210,204,255,1) 0%, rgba(110,71,238,1) 49%, rgba(100,68,238,1) 50%, rgba(70,0,170,1) 51%, rgba(80,17,221,1) 100%);
	padding:1em;
	align-items:center;	
	border:1px solid #5555dddd;
	font-weight:900;
	margin:auto;
	margin-top:2em;
	display:block;
}
h3 {
	color:#def;
	font-size:2em;}
li {
	margin:1em 0px;
	padding:1.5em;
	border-radius:2em;
	background-color:#102;}
li li,li li strong,li dl strong {
	padding:0px; 
	font-weight:500;
	font-size:1em;}
li li,li dl {
	margin:0.3em 0px;}
li dt {font-weight:600;}
li,strong {
	font-weight:800; 
	font-size:1.2em;}
.master {
	background-color:white; 
	color:#400;
	display:inline-flex;
	font-weight:800;}

footer {
	padding:5%;
	background-color:black;}

.light {display:none;}






#sellist dt {padding-bottom:0.3em; border-bottom:solid 1px #eef;}
#sellist dd {padding-top:0.3em;}
#sellisk {color:#faa;}




#master {margin:3em auto;}
#master a,#master dd{
	font-size:1.3em;
	font-weight:900;
	color:#bdf;
}
#master dt {
	background:linear-gradient(to right, #224, #557, #224);}
#master dd{
	text-align:center;
	border:2px solid #224;}

#master dt,.STF dt {
	display:inline-block;
	border-top-left-radius:1em;
	border-top-right-radius:1em;
	padding:0.3em 1em;}
#master dd,.STF dd {
	background-color:black;
	padding:1em;}

.STF {margin:1em auto;	
	animation-name:stafflist;
	animation-fill-mode:forwards;
	animation-duration:0.5s;
	position:relative;
	left:100em;}
@keyframes stafflist {
	0% {left:100em;}
	100% { left:0em;}
}
.STF dt {
	font-size:1.2em;
	font-weight:800;}
.STF dd {
	font-size:1.0em;
	font-weight:700;}

.staffs {
	width:100%; 
	height:100%;}


#purple dt {background-color:#306;}
#purple dd {border:#306 solid 2px;}

#kejang dt {background-color:#333;}
#kejang dd {border:solid 2px #333;}

#psps dt,#psps a {background-color:#0a1;}
#psps dd {border:#0a1 solid 2px;}

#robin dt,#robin a {background-color:#630; color:#ced;}
#robin dd {border:solid #630 2px;}






@media screen and (max-width: 767px) {
	.made {display:flex;}
}






@media (prefers-color-scheme:light) {
	.light {display:unset;}
	.dark {display:none;}
	body {background-color:#eef;}
	#HELLO {
		color:black; 
		background-color:white;
		box-shadow:0px 0px 2em 3em white;
	}
	.hi {color: rgba(165, 0, 52, 0.9);;}
	#ITtitle {background: radial-gradient(#fcd , #fde ,#fff, #fff);}
	#staff {background: -webkit-linear-gradient(top, rgba(255,150,200,1) 0%, rgba(220,70,120,0.9) 50%, rgba(165,0,52,0.9) 51%, rgba(200,0,88,0.9) 100%);
	border:rgba(165,0,52,0.9) solid 1px;}
	
	li,li a {background-color:#ced; color:#730;}
	h2,h3 {color:#50a;}
	footer{background-color:#acf; color:#113;}



	#sellisk {color:#a00;}





	#master a,#master dd{color:#224;}
	#master dt {
	background:linear-gradient(to right, #acf, #bdf, #acf);}
	#master dd{
	text-align:center;
	border:2px solid #acf;}
	#master dd,.STF dd {
	background-color:white;
	color:black;}


	#purple dt,#purple a {background-color:#baf; color:#307;}
	#purple dd {border:#baf solid 2px;}

	#kejang dt,#kejang a {background-color:#ccc; color:black;}
	#kejang dd {border:solid 2px #ccc;}

	#psps dt,#psps a {background-color:#fce; color:#540;}
	#psps dd {border:#fce solid 2px;}

	#robin dt,#robin a {background-color:#ced; color:#630;}
	#robin dd {border:solid #ced 2px;}

}
