@charset "UTF-8";
:lang(ko) {word-break: keep-all; line-break:normal;}
:lang(ja) {word-wrap:break-word; word-break:break-all;}
::selection {background:#afc; color:white;}
img {width:100%;}
body * {
	-webkit-font-smoothing: antialiased;
	box-sizing:border-box;
		font-family:"SF Pro KR","SF Pro Display","SF Pro Icons","Apple Gothic","HY 돋움","맑은 고딕","HY 고딕","Lexi Gulim","Helvetica Neue","Helvetica","Arial","sans-serif";}
h1,h2,h3 {font-weight:900;}
a {
	text-decoration:none;
	align-items:center;
	display:inline-flex;
	vertical-align:top;
	color:white;
}
.w90 {width:95%; margin:auto;}

ol,ul,dl {margin:0px; padding:0px;}
dl+dl {margin:0.5em 0px;}
ol,ul,dl,li {list-style:none;}
dd,dt {margin:0px; font-weight:400;}
header {
	position:sticky;
	top:0px;
	z-index:40;
	width:100%;
	height:3em;
	margin:0px;
	padding-bottom:0px;}
nav {margin:0px; 
	padding:0px;
	height:100%;
	width:100%;
	vertical-align:middle; }
#pagetitle {
	text-align:center;
	display:inline-block;
	margin:0px;
	padding:0px;
	overflow:hidden;
	width:70%;
	height:100%;}

.navi {
	color:white;
	height:100%;
	align-items:center;
	display:flex;
}
#pagetitle a {
	background-color:#222425;
	width:100%;
	padding-left:5%;
}
#gochat {
	font-weight:bold;
	font-size:14px;
	top:0px;
	text-align:center;
	position:absolute;
	right:0px;
	background-color:#0074c2;
	width:30%;
	justify-content:center;
}
body {
	height:100%;
	background-color:#113;; 
	color:white;
	margin:0px auto;}
main {margin:auto auto;}
#HELLO {
	position:relative;
	text-align:center;
	margin-bottom:5em; 
	box-shadow:0px 0px 2em 3em #222425;
	background-color:black;}
#ITtitle {
	background: linear-gradient(to bottom, #000 , #222425 );
	width:100%;
	height:100%;
	padding:1em 0px;

	}
.hi {bottom:0px;}
#HELLO span {
	font-size:2em; 
	font-weight:700;
	letter-spacing:0px;}
#staff {
	width:10em;
	background: -webkit-linear-gradient(top, rgba(221,204,255,1) 0%, rgba(121,71,238,1) 49%, rgba(119,68,238,1) 50%, rgba(85,0,170,1) 51%, rgba(102,17,221,1) 100%);
	padding:1em;
	align-items:center;	border:1px solid #5555dddd;
	font-weight:900;
	margin:auto;
	margin-top:2em;
	display:block;
}
h3 {
	color:#def;
	font-size:2em;}
li {
	margin:1em 0px;
	padding:1.5em;
	border-radius:2em;
	background-color:#102;}
li li,li li strong,li dl strong {
	padding:0px; 
	font-weight:500;
	font-size:1em;}
li li,li dl {
	margin:0.3em 0px;}
li dt {font-weight:600;}
li,strong {
	font-weight:800; 
	font-size:1.2em;}
.master {
	background-color:white; 
	color:#400;
	display:inline-flex;
	font-weight:800;}

footer {
	padding:5%;
	background-color:black;}

.light {display:none;}

@media and screen (max-width:767px){
	.made {display:block;}
}

@media (prefers-color-scheme: light) {
	body {background-color:#eef;}
	li,li a {background-color:#ced; color:#730;}
	h3 {color:#33a;}
	footer{background-color:#acf; color:black;}
}





#sellist dt {padding-bottom:0.3em; border-bottom:solid 1px #eef;}
#sellist dd {padding-top:0.3em;}
#sellisk {color:#faa;}





#master a{
	font-size:1.2em;
	font-weight:900;
}
.staffs {
	font-size:1.1em;
	font-weight:700;}