@charset "UTF-8";
:lang(ko) {word-break: keep-all; line-break:normal;}
:lang(ja) {word-wrap:break-word; word-break:break-all;}
::selection {background:#1c0; color:white;}
body {background-image:url(https://www.tanuki-kaihatsu.com/assets/images/tanuki_bg.png); }
header {width:100%;}
main {background-color:white; border:10px solid #dd9900;}