@charset "UTF-8";
:lang(ko) {word-break: keep-all; line-break:normal;}
:lang(ja) {word-wrap:break-word; word-break:break-all;}
::selection {background:#3b0; color:white;}


body {background-image:url(https://www.tanuki-kaihatsu.com/assets/images/tanuki_bg.png);
margin:auto auto;
width:100%;}
a {text-decoration:none; 
	display:inline-block;
	background-position:center center;}
#skipbar {
	text-align:center;
	padding:0px;
	width:100%;
	position:absolute;}
#skipnav {
	z-index:10;
	position:relative;
	top:-10em;
	margin:auto;
	width:90%; 
	line-height:1em; 
	padding:1em; 
	text-align:center;
	background-color:black;
	color:white;}

#skipnav:focus {top:0em;}
header {
	position:sticky;
	width:100%; 
	background-color:white; 
	height:74px;}
.menu {
	height:100%; 
	position:relative; 
	top:0px; 
	margin:0px;
	vertical-align:top;}
#LOGO {background-image:url(https://www.nintendo.co.kr/images/renew/common/logo_nintendo_red.gif);
	background-color:red;
	width:150px;
	background-repeat:no-repeat;
	background-position:center center;}

main {
	background-color:white; 
	border:0.5em solid #dd9900; 
	width:70%;
	margin:auto auto;
	padding:2em;}
#fence {
	background-image:url(https://www.nintendo.co.kr/3DS/software/animal_forest/images/bg_fence.png);
	position:fixed; bottom:0px;
	width:100%;
	height:30%;
	z-index:0;}